p{ font-family: 'PT Sans Narrow 20px', sans-serif;}
h1,h2{font-family: 'Slabo 20px', serif;}

 body  {background-color: grey; }

 .stats{
        align-content: left;
        width: 200px;
        margin: 5px auto;
        border: solid green 5px;
        -webkit-box-sizing: border box;
        padding: 25px;
        }

.photo{
    display: block;
    align-content: center;
    
}
