p{ font-family: 'PT Sans Narrow 20px', sans-serif;}
h1,h2{font-family: 'Slabo 20px', serif;}

 body  {background-color: grey; }

 .stats{
        align-content: center;
        width: 400px;
        margin: 25px auto;
        border: solid green 5px;
        -webkit-box-sizing: border box;
        padding: 25px;
        }
